<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>ログイン画面</h1>
    
    <form action="/" method="POST">
        <h2>ユーザー名とパスワードを入力してください</h2>
        <p>ユーザー</p>
        <input type="text" name="user_name">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <form action="/guest" method="POST">
        <input type="submit" value="ゲストとしてログイン">
    </form>
</body>
</html>

